@import "./displayFlex";
@import "./stylesGeneral";

//Fonts
$mainFont: 'Poppins';

//Colors
$color1: #17171E; //*Color fondo
$color2: #FFFFFF;
$color3: #494949; //*Color bordes
$color4: #1D75FF;
$color5: #FC5A5A;
$color6: #1C1C24; //*Color fondo paneles
$color7: #292932; //*Color gris botones
$color8: #929292;
