@import "../../styles/settings";
@import "../../styles/stylesGeneral";

body{
    background-color: $color1; 
}

.dashboardPage {
    width: 100%;
    height: 100vh;
    background-color: $color1;
    @include DisplayFlex(
        center,
        center,
        none,
        none,
        0
    );

    &__container {
        width: 100%;
        max-width: 90em;
        height: 100%;
        @include DisplayFlex(
            center,
            center,
            none,
            none,
            0
        );

        &__firstSection {
            width: 20%;
            height: 100%;
            border: 1px solid $color3;
            box-sizing: border-box;
            @include DisplayFlex(
                center,
                flex-start,
                column,
                none,
                0
            );

            &__logo {
                width: 100%;
                height: 4.6em;
                border-bottom: 1px solid $color3;
                @include DisplayFlex(
                    center,
                    center,
                    none,
                    none,
                    0
                );

                img {
                    width: 60%;
                    object-fit: contain;
                }
            }
        }

        &__secondSection {
            width: 80%;
            height: 100%;
            border-top: 1px solid $color3;
            border-bottom: 1px solid $color3;
            border-right: 1px solid $color3;
            box-sizing: border-box;
            @include DisplayFlex(
                center,
                flex-start,
                column,
                none,
                0
            );

            &__panels {
                width: 100%;
                height: 100%;
                padding: 2em;
                box-sizing: border-box;
                @include DisplayFlex(
                    center,
                    center,
                    none,
                    none,
                    0
                );
            }
        }
    }

}